body {
    color: #000000;
}

a {
    font-weight: 700;
}

p {
    line-height: 1.75;
    font-weight: 400;
    font-size: 1.6rem;
}

.blog-post .head h1 {
    font-weight: 700;
    font-size: 4.98rem;
}

.title {
    color: #F55547;
}

.content {
    margin-top: 120px;
}

.head {
    margin-bottom: 60px;
}

.head span {
    cursor: pointer;
}

.head span svg {
    margin-right: 5px;
}

.head span span {
    font-weight: 400;
    font-size: 1.6rem;
    color: #000000;
}

.blog-post .head {
    display: flex;
    flex-direction: column;
}

.blog-post .head .sub-title {
    display: flex;
    flex-direction: row;
}

.blog-post .head .sub-title h2 {
    margin-right: 5px;
    padding: 0 5px;
}

.blog-post .head .sub-title a {
    font-size: inherit;
    margin-left: 5px;
}

.blog-post .head .sub-title h2,
.blog-post .head .sub-title h3 {
    font-weight: 400;
    font-size: 2.48rem;
    color: #000000;
}

.blog-post .body * {
    margin-bottom: 20px;
    margin-top: 20px;
}

#comments {
    margin-top: 100px;
}

.border-separate {
    border: solid #F55547;
    border-width: 0 2px 0 0;
}