#search-tools {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 20%;
}

#post {
    margin-top: 40px;
}

@media only screen and (max-width: 1370px) {

    #search-tools {
        padding: 0px 5%;
    }

}