body {
    color: #000000;
}

a {
    font-weight: 700;
}

.blog-post .head h1 {
    font-weight: 700;
    font-size: 4.98rem;
}

.title {
    color: #F55547;
}

#content {
    margin-top: 120px;
}

.head {
    margin-bottom: 60px;
}

.head span {
    cursor: pointer;
}

.head span svg {
    margin-right: 5px;
}

.head .tools,
#navigation .tags {
    display: flex;
    flex-direction: row;
}

.head .tools {
    margin-top: 35px;
}

.head .tools *:not(:only-child),
#navigation .tags *:not(:only-child) {
    margin-right: 10px;
}

.head .tools .time {
    display: flex;
    flex-direction: row;
    padding: 0px 8px;
    border-radius: 20px;
    align-items: center;
    background-color: #F55547;
}

.head .tools .time p {
    color: #ffffff;
}

p {
    font-weight: 400;
    font-size: 1.6rem;
    color: #000000;
}

.blog-post .head {
    display: flex;
    flex-direction: column;
}

.blog-post .head .sub-title {
    display: flex;
    flex-direction: row;
}

.blog-post .head .sub-title h2 {
    margin-right: 5px;
    padding-right: 5px;
}

.blog-post .head .sub-title a {
    font-size: inherit;
    margin-left: 5px;
}

.blog-post .head .sub-title h2,
.blog-post .head .sub-title h3 {
    font-weight: 400;
    font-size: 2.48rem;
    color: #000000;
}

.blog-post .body * {
    margin-bottom: 20px;
    margin-top: 20px;
}

.border-separate {
    border: solid #F55547;
    border-width: 0 2px 0 0;
}

#navigation {
    margin-top: 60px;
    margin-bottom: 60px;
}

#navigation .suggestion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}

#navigation .suggestion h1,
#navigation .suggestion p {
    font-size: 1.6rem;
    font-weight: 700;
}

#navigation .suggestion h1 {
    color: #F55547;
    margin-bottom: 10px;
}

#navigation .suggestion p {
    color: #000000;
}

#navigation .suggestion .before,
#navigation .suggestion .next {
    display: flex;
    flex-direction: row;
}

#navigation .suggestion a:last-child div h1 {
    text-align: end;
}