#search-tools {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 20%;
}

#content {
    margin-top: 40px;
}

#content .posts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#content .posts .post {
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.17);
    overflow: hidden;
}

.post .image {
    width: 100%;
    height: 30%;
    background-color: red;
}

.post .details {
    padding: 20px;
}

.post .details .categories {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    margin-bottom: 20px;
}

.post .details .categories span {
    transform: scale(0.7);
    transform-origin: left;
    margin-right: -20px;
}

.post .details .texts h1 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

.post .details .texts h2 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #AEADAD;
}

.post .details .texts p {
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.post .details .texts h3 {
    font-weight: 600;
    font-size: 14px;
    color: #F55547;
}

.post .details .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}