@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body {
    font: 400 14px Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #f0f0f5;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #f55547;
}

li {
    margin-bottom: inherit;
}