.top-design {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 85%;
    z-index: -1;
}

.top-design.front {
    transform: translate(0.4%, -2.5%);
}

#top .top-left {
    margin-top: 30%;
}

#top .top-left .invitation {
    margin-top: 30px;
    color: #A2A2A2;
}

#top .experience-area {
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.experience-area .role-item .detail {
    display: flex;
    flex-direction: row;
}

.experience-area .role-item .title {
    margin-bottom: 10px;
}

.experience-area .role-item .detail .time {
    margin-left: 20px;
}

.experience-area .role-item .detail .time-desc {
    font-size: 2.0rem;
    font-weight: 400;
    color: #A2A2A2;
}

.description-card {
    width: 100%;
    margin-top: 8%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.description-card .text-content {

}

.description-card .text-content h1 {
    margin-bottom: 4%;
    color: #ffffff;
    font-size: 5.0rem;
    font-weight: 700;
}

.description-card .text-content p {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 400;
}

.description-card .image-content {
    margin-left: 10%;
}

.navigation-tool {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    right: 5%;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    z-index: 2;
}

.navigation-tool a {
    margin-top: 20px;
}

.navigation-tool a:first-child {
    margin-top: 0;
}

#experiences {
    margin-top: 60px;
}

#experiences .jobs {
    display: flex;
    flex-direction: column;
}

#experiences .job {
    display: flex;
    flex-direction: row;
    width: 85%;
    padding: 20px;
    margin-left: 15%;
    border-radius: 20px;
    margin-top: 50px;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px  rgba(68, 68, 68, 0.16);
    cursor: pointer;
}

#experiences .job .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

#experiences .job h5 {
    font-size: 2.6rem;
    font-weight: 700;
}

#experiences .job p {
    font-size: 1.2rem;
    font-weight: 500;
}

#experiences .job h5,
#experiences .job p {
    margin: 0px 0px 0px 15px;
    color: #000000;
}

#experiences .job .icon {
    height: 100%;
}

#experiences .job .icon svg {
    margin-top: 100%;
}

#experiences .job[active=true] {
    background-color: #F55547;
}

#experiences .job[active=true] h5,
#experiences .job[active=true] p,
#experiences .job[active=true] svg {
    color: #ffffff;
}

#experiences .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 73px;
    height: 73px;
}

#experiences .circle img {
    width: 60%;
    height: 30%;
}

.circle {
    border-radius: 50px;
    overflow: hidden;
}

#experiences .job-detail {
    margin-top: 50px;
    margin-left: 5%;
}

#experiences .job-detail .location {
    display: flex;
    flex-direction: row;
}

#experiences .job-detail .location svg {
    color: #F55547;
    margin-right: 10px;
}

#experiences .job-detail h1 {
    color: #000000;
    font-size: 4.0rem;
    font-weight: 700;
}

#experiences .job-detail h2 {
    color: #A2A2A2;
    font-weight: 600;
    font-size: 2.5rem;
}

#experiences .job-detail h5 {
    color: #000000;
    font-size: 2.0rem;
    font-weight: 700;
    margin-bottom: 0;
}

#experiences .job-detail .actions {
    margin-bottom: 30px;
    margin-top: 30px;
}

#experiences .job-detail .title {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

#experiences .job-detail .description {
    font-size: 2.5rem;
    font-weight: 400;
    color: #A2A2A2;
}

#experiences .job-detail .title p {
    color: #A2A2A2;
    font-weight: 600;
    font-size: 1.4rem;
    margin-right: 10px;
    margin-top: 20px;
}

#experiences .job-detail .tecnologies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

#experiences .job-detail .tecnologies .technology svg {
    display: flex;
    align-items: center;
    width: 33px;
    height: 33px;
    color: #F55547;
}

#experiences .job-detail .tecnologies .technology {
    display: flex;
    align-items: center;
    border: 1px solid #F55547;
    border-radius: 50%;
    padding: 10px;
    margin-right: 15px;
    margin-top: 10px;
}

#projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 140px;
    padding: 80px 0px;
    background-color: #202020;
}

#projects h1 {
    margin-bottom: 33px;
    font-weight: 700;
    font-size: 4.0rem;
    color: #ffffff;
}

#projects .menu {
    margin-bottom: 37px;
}

#projects .menu li {
    display: inline;
    margin-right: 25px;
    font-weight: 400;
    font-size: 2.5rem;
    color: #ffffff;
    cursor: pointer;
}

.menu-active {
    border-bottom: 2px solid #F55547;
}

#posts {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
}

#posts h1 {
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 4.0rem;
    color: #000000;
}

.project-card {
    display: flex;
    flex-direction: row;
    padding: 54px 70px;
    border-radius: 50px;
    background-color: #ffffff;
    text-align: left;
}

.project-card h1 {
    margin-bottom: 17px !important;
    color: #000000 !important;
}

.project-card h2 {
    margin-top: 30px;
    margin-bottom: 7px;
    font-weight: 700;
    font-size: 1.5rem;
    color: #000000;
}

.project-card .description {
    margin-bottom: 10px;
    word-break: break-word;
    font-weight: 400;
    font-size: 1.6rem;
    color: #A2A2A2;
}

.project-card .left {
    width: 60%;
    margin-right: 30px;
}

.project-card .left iframe {
    border-radius: 20px;
    box-shadow: 0px 3px 6px  rgba(68, 68, 68, 0.16);
}

.project-card .right {
    width: 40%;
}

.project-card .right .actions {
    display: flex;
    justify-content: flex-end;
}

.project-card .right .actions a {
    transform: scale(0.8);
    transform-origin: left;
}

.project-card .right .tecnologies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-card .right span {
    margin-right: 5px;
    margin-bottom: 5px;
}

#contact .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contact .content .left {
    margin-left: 60px;
}

#contact .content .left h1 {
    font-weight: 700;
    font-size: 4.0rem;
    color: #ffffff;
    margin-bottom: 55px;
}

#contact .content .left .contact-info h3 {
    font-weight: 400;
    font-size: 2.0rem;
    color: #ffffff;
    margin-left: 15px;
}

#contact .content .left .contact-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

#contact .content .right .form {
    display: flex;
    flex-direction: column;
    padding: 60px;
    margin-right: 85px;
    margin-bottom: 64px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px  rgba(68, 68, 68, 0.16);
}

#contact .content .right .form h2 {
    font-weight: 700;
    font-size: 3.0rem;
    color: #F55547;
    margin-bottom: 15px;
}

#contact .content .right .form p {
    font-weight: 400;
    font-size: 2.0rem;
    color: #A2A2A2;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1277px) {

    #top .content {
        max-width: 100%;
        flex-basis: 100%;   
    }

    .top-design {
        display: none;
    }

    .links li:first-child a {
        color: #000000;
    }

    .experience-area {
        justify-content: space-evenly !important;
    }

    .project-card {
        flex-direction: column !important;
    }

    .project-card .left {
        align-self: center;
        margin-bottom: 30px;
        margin-right: 0px;
        width: fit-content;
    }

    .project-card .right {
        width: 100%;
    }

}

@media only screen and (max-width: 1560px) {

    .navigation-tool-static {
        display: none;
    }

}

@media only screen and (max-width: 862px) {

    .experience-area {
        justify-content: space-between !important;
    }

    .experience-area .role-item {
        margin-bottom: 20px;
    }

}