.border-button {
    width: 215px;
    height: 54px;
    background-color: transparent;
    border: 2px;
    border-style: solid;
    border-radius: 50px;
    border-color: #F55547;
    color: #F55547;
}