.search {
    display: flex;
    flex-direction: row;
}

.search svg {
    margin-left: 30px;
    cursor: pointer;
}

.search input {
    background: none;
    border: 1px solid #F55547;
    border-radius: 20px;
    max-width: 248px;
    padding: 4px 12px;
    color: #F55547;
}

.search input::placeholder {
    color: #AEADAD;
}

.search input[active='true'] {
    display: block;
}

.search input[active='false'] {
    display: none;
}