footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 20%;
    margin-top: 50px;
    overflow: hidden;
}

footer .message h5 {
    margin-top: 0;
}

footer .social-medias svg {
    margin-right: 20px;
}