.site-link {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 30px;
}

.site-link .icon {
    display: flex;
    align-items: center;
    margin-left: 15px;
}