.badge {
    display: flex;
    flex-direction: row;
    padding: 4px 12px;
    border: 1px solid #F55547;
    border-radius: 20px;
    background-color: transparent;
    white-space: nowrap;
}

.badge svg {
    margin-right: 10px;
    color: #F55547;
}

.badge p {
    display: flex;
    align-items: center;
    color: #F55547;
    font-weight: 700;
    font-size: 1.0rem;
}