.go-button {
    width: 217px;
    height: 59px;
    border-radius: 10px;
    font-size: 2.0rem;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 4px 8px 8px  rgba(68, 68, 68, 0.16);
}

.go-button svg {
    margin-left: 10px;
}